<%= content_for :javascript do %>   
  <%= javascript_include_tag "estudiantes", "data-turbolinks-track" => true  %>
<% end %>
<table id="estudiantes_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Rut</th>
			<th>Año ingreso</th>
			<th>Carrera</th>
			<th>Estado deserción</th>
		</tr>
	</thead>
	<tbody>
		<% estudiantes.each_with_index do |e, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= e.nombre %> <%= e.apellido %></td>
				<td><%= e.rut %></td>
				<td><%= e.fecha_ingreso.strftime("%Y") %></td>
				<td><%= e.carrera.nombre %></td>
				<td>
					<span><%= e.estado_desercion_id.nil? ? "Ninguno" : e.estado_desercion.nombre_estado %></span>					
				</td>
			</tr>
		<% end %>
	</tbody>
</table>