<div class="container col-sm-12">
	<div class="col-sm-3">
		<h3 class="text-center">Filtros</h3>

    <%= form_for(:estudiantes_filter, url: get_filter_estudiantes_path, html: {id: 
      'estudiantes_filter', class: 'form-horizontal', format: :json}) do |f| %>
    
      <div class="form-group">
        <%= f.label(:año_ingreso, class: 'col-sm-4 control-label') %>
        <div class="col-sm-8">
          <%= f.select(:anio_ingreso, filters[:anios_ingreso], {prompt: false, include_blank: "Cualquiera"}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:carrera, class: 'col-sm-4 control-label') %>
        <div class="col-sm-8">
          <%= f.collection_select(:carrera, filters[:carreras], :id, :nombre, {prompt: false, include_blank: "Cualquiera"}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label(:estado_desercion, class: 'col-sm-4 control-label') %>
        <div class="col-sm-8">
          <%= f.collection_select(:estado_desercion, filters[:estados_desercion], :id, :nombre_estado, {prompt: false, include_blank: "Cualquiera"}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit(:filtrar, class: 'btn btn-default') %>
      </div>

    <% end %>    
    
	</div>
	<div class="col-sm-9">
		<h3 class="text-center">Estudiantes</h3>
		<div id="estudiantes_container">
			<%= render partial: 'estudiantes_table', locals: local_assigns %>
		</div>
	</div>
</div>