<b>Resumen subida de estudiantes:</b><br>
<ul>
	<li><%= detail[:new] %> de <%= detail[:total] %> estudiantes se han ingresado con éxito.</li>
	<li><%= detail[:upd] %> de <%= detail[:total] %> estudiantes se han actualizado con éxito.</li>
	<li><%= detail[:failed] %> de <%= detail[:total] %> estudiantes han tenido problemas con su ingreso/actualización.</li>
</ul>