<b>Resumen desasociación de estudiantes para el tutor '<%= tutor.name %> <%= tutor.last_name %>':</b><br>
<ul>
	<li>Se han desasociado con éxito <b><%= detail[:disassociated] %></b> estudiantes de los <%= detail[:total] %> seleccionados.</li>
	<li>Ahora el tutor tiene <b><%= detail[:associated] %></b> estudiantes restante asociados.</li>
</ul>