<%= content_for :javascript do %>   
  <%= javascript_include_tag "carreras.js", "data-turbolinks-track" => true  %>
<% end %>
<h1>Subir carreras y asignaturas</h1>

<%= form_for(:carrera, url: upload_carrera_path, html: {id: 'carrera_form'}) do |f| %>
	<div class="form-group">
	  <%= f.label :escuela %><br />
	  <%= f.collection_select(:escuela, escuelas, :id, :nombre, {prompt: "Selecciona una escuela..."}, {class: 'form-control'}) %>
	</div>

	<%= f.file_field(:file, data: {buttonName: 'btn-primary', buttonBefore: 'true'}) %>

	<div class="progress-wrapper">
	  <div class="progress">
	    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100">
	      0%
	    </div>
	  </div>
	</div>
<% end %>