<div class="col-sm-3 list-group">
  <div id="MainMenu">
    <div class="list-group panel" id="option-list">

      <% options = setActive(context, 'usuario') %>

      <a href="#usuario" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Usuario</a>
      <div class="<%= options[:div_class] %>" id="usuario" <%= options[:div_expanded] %> >
          <%= link_to('Agregar usuario', new_user_path, class: "list-group-item list-group-item-action" + setSubActive(new_user_path)) %>
          <%= link_to('Modificar usuarios', modify_users_path, class: "list-group-item list-group-item-action" + setSubActive(modify_users_path)) %>
      </div>
      
      <% options = setActive(context, 'estado') %>

      <a href="#estados" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Estados deserción</a>
      <div class="<%= options[:div_class] %>" id="estados" <%= options[:div_expanded] %> >
          <%= link_to('Agregar estado', new_estados_desercion_path, class: "list-group-item list-group-item-action" + setSubActive(new_estados_desercion_path)) %>
          <%= link_to('Modificar estados', modify_estados_desercion_path, class: "list-group-item list-group-item-action" + setSubActive(modify_estados_desercion_path)) %>
      </div>

      <% options = setActive(context, 'estudiantes') %>

      <a href="#estudiantes" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Estudiantes</a>
      <div class="<%= options[:div_class] %>" id="estudiantes" <%= options[:div_expanded] %> >
          <%= link_to('Subir estudiantes', subir_estudiantes_path, class: "list-group-item list-group-item-action" + setSubActive(subir_estudiantes_path)) %>
      </div>

      <% options = setActive(context, 'alertas') %>

      <a href="#alertas" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Alertas</a>
      <div class="<%= options[:div_class] %>" id="alertas" <%= options[:div_expanded] %> >
          <%= link_to('Configurar', config_alertas_path, class: "list-group-item list-group-item-action" + setSubActive(config_alertas_path)) %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-8">
	<% if !local_assigns[:partial].nil? %>
		<%= render partial: partial, locals: local_assigns %>
	<% end %>
</div>