<%= content_for :javascript do %>   
  <%= javascript_include_tag "reporte", "data-turbolinks-track" => true  %>
<% end %>
<div class="container col-sm-12">
  <%= form_for(:reporte, url: generate_pdf_path, html: {id: 'reporte_form', class: 'form-horizontal'}) do |f| %>

    <div class="col-sm-6 col-sm-offset-3 form-box">
      <div class="form-top">
        <div class="form-top-left">
          <h1 class="text-center">Generar reportes</h1>
        </div>
        <div class="form-top-right">
          <i class="fa fa-lock"></i>
        </div>
      </div>
    
      <div class="form-group">
        <label class="col-sm-4 control-label">Año ingreso</label>
        <div class="col-sm-8">
          <%= f.select(:anio_ingreso, filters[:anios_ingreso], {prompt: false, include_blank: "Cualquiera"}, {class: 'form-control'}) %>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-4 control-label">Carrera</label>
        <div class="col-sm-8">
          <%= f.collection_select(:carrera, filters[:carreras], :id, :nombre, {prompt: false, include_blank: "Cualquiera"}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Estado deserción</label>
        <div class="col-sm-8">
          <%= f.collection_select(:estado_desercion, filters[:estados_desercion], :id, :nombre_estado, {prompt: false, include_blank: "Cualquiera"}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit(:Generar, class: 'btn btn-default') %>
      </div>
    </div>
  <% end -%>
</div>