<%= content_for :javascript do %>   
  <%= javascript_include_tag "sign_in", "data-turbolinks-track" => true  %>
  <%= javascript_include_tag "validar_rut", "data-turbolinks-track" => true  %>
<% end %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <div class="form-top">
      <div class="form-top-left">
        <h3>Ingresar</h3>
      </div>
      <div class="form-top-right">
        <i class="fa fa-lock"></i>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form', id: 'sign_in_user'}) do |f| %>
      <div class="form-group">
        <%= f.label :rut, class: 'sr-only' %><br />
        <%= f.text_field :rut, autofocus: true, class: 'form-username form-control', placeholder: 'Rut' %>
      </div>
    
      <div class="form-group">
        <%= f.label :password, class: 'sr-only' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-username form-control', placeholder: 'Contraseña' %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="field">
        <%= link_to "Recuperar contraseña",  new_password_path(resource), class: '' %>
      </div>
    
      <div class="actions text-center">
        <%= f.submit 'Ingresar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>