<b>Resumen asociación de estudiantes para el tutor '<%= tutor.name %> <%= tutor.last_name %>':</b><br>
<ul>
	<li>De los <b><%= detail[:total] %></b> seleccionados, se han asociado <b><%= detail[:new] %></b> estudiantes nuevos al tutor seleccionado.</li>
	<li>De los <b><%= detail[:total] %></b> seleccionados, <b><%= detail[:not] %></b> estudiantes ya estaban asociados al tutor seleccionado.</li>
</ul>