<b>Resumen subida de estudiantes:</b><br>
<ul>
	<% if detail[:new].size != 0 %>
		<li><%= detail[:new].size %> de <%= detail[:total] %> nuevos estudiantes se han ingresado con éxito.</li>
	<% end -%>
	<li><%= detail[:upd].size %> de <%= detail[:total] %> estudiantes se han actualizado con éxito.</li>
	<% if detail[:failed].size != 0 %>
		<li><%= detail[:failed].size %> de <%= detail[:total] %> estudiantes han tenido problemas con su ingreso/actualización.</li>
	<% end -%>
</ul>