<%= content_for :javascript do %>   
  <%= javascript_include_tag "ver_asistencias", "data-turbolinks-track" => true  %>
<% end %>
<h1>Ver asistencia</h1>

<div class="col-sm-6 col-sm-offset-3 form-box">
  <div class="form-top">
    <div class="form-top-left">
      <h4>Filtrar</h4>
    </div>
    <div class="form-top-right">
      <i class="fa fa-lock"></i>
    </div>
  </div>
  <%= form_for(:filters, url: filtering_asistencia_path, html: {id: 'filters_form', format: 'json'}) do |f| %>
      <!-- <div class="form-group">
        <%= f.label :carrera %><br />
        <%= f.collection_select(:carrera, filtros[:carreras], :id, :nombre, {}, {class: 'form-control'}) %>
      </div> -->

      <div class="form-group">
        <%= f.label :asignatura %><br />
        <%= f.collection_select(:asignatura, filtros[:asignaturas], :id, :nombre, {}, {class: 'form-control'}) %>
      </div>

      <div class="actions text-center">
        <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>

<table id="asis_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Estudiante</th>
            <th>Asignatura</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
      <% asistencias.each_with_index do |a, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td data-estudiante-id="<%= a.estudiante_id %>"><%= a.estudiante.nombre %> <%= a.estudiante.apellido %></td>
          <td data-asignatura-id="<%= a.asignatura_id %>"><%= a.asignatura.nombre %></td>
          <td><%= button_tag "Ver", class: "btn btn-primary ver-detail" %></td>
        </tr>
      <% end %>
    </tbody> 
</table>