<%= content_for :javascript do %>   
  <%= javascript_include_tag "mass_load", "data-turbolinks-track" => true  %>
<% end %>
<div class="col-sm-3 list-group">
  <div id="MainMenu">
  	<div class="list-group panel" id="option-list">

      <% options = setActive(context, 'notas') %>

  	  <a href="#notas" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Notas</a>
  	  <div class="<%= options[:div_class] %>" id="notas" <%= options[:div_expanded] %> >
  				<%= link_to('Subir', mass_load_notas_path, class: "list-group-item list" + setSubActive(mass_load_notas_path)) %>
  				<%= link_to('Ver', mass_load_get_notas_path, class: "list-group-item list" + setSubActive(mass_load_get_notas_path)) %>
  	  </div>

      <% options = setActive(context, 'asistencia') %>
  	
  	  <a href="#asistencia" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Asistencia</a>
  	  <div class="<%= options[:div_class] %>" id="asistencia" <%= options[:div_expanded] %> >
  				<%= link_to('Subir', mass_load_asistencia_path, class: "list-group-item list" + setSubActive(mass_load_asistencia_path)) %>
  				<%= link_to('Ver', mass_load_get_asistencia_path, class: "list-group-item list" + setSubActive(mass_load_get_asistencia_path)) %>
  	  </div>

      <% if isTutorOrDecano %>
        <% options = setActive(context, 'alumnos') %>

    	  <a href="#alumnos" class="<%= options[:a_class] %>" data-toggle="collapse" data-parent="#MainMenu">Alumnos</a>
    	  <div class="<%= options[:div_class] %>" id="alumnos" <%= options[:div_expanded] %> >
    				<%= link_to('Subir', mass_load_alumnos_path, class: "list-group-item list" + setSubActive(mass_load_alumnos_path)) %>
    				<%= link_to('Ver', mass_load_get_alumnos_path, class: "list-group-item list" + setSubActive(mass_load_get_alumnos_path)) %>
    	  </div>
      <% end -%>

  	</div>
  </div>
</div>

<div class="col-sm-9">
	<% if !local_assigns[:partial].nil? %>
		<%= render partial: partial, locals: local_assigns %>
	<% end %>
</div>