<!DOCTYPE html>
<html>
<head>
  <title>SegEstudiante</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:msg] %>
  <div class="alert alert-<%= flash[:alert_type] %> alert-dismissible"">
    <strong><%= flash[:msg] %></strong>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>
<div class="navbar navbar-default navbar-static-top" id="main-navbar">
  <div class="container-fluid">
    <nav>
      <div class="navbar-header">
        <a href="/" class="navbar-brand"> <i class="fa fa-map-marker fa-lg"></i> 
          <%= image_tag('central.png') %>
        </a>
      </div>
      <div class="col-sm-5 col-sm-offset-3" style="display: inline-block;">
        <a href="/" class="navbar-link"><h2>Sistema de información UCEN22</h2></a>
      </div>

      <% if user_signed_in? %>
        <div class="nav pull-right" style="margin-top: 20px; display: flex;">
          <p>Hola, 
          <%= current_user.name %> | 
          <% if current_user.user_permission.name == "Decano" %>
            <%= link_to "Admin", admini_path, class: 'navbar-link' %>
          | 
          <% end %>
          <%= link_to "Salir", destroy_user_session_path, class: 'navbar-link', method: 'delete' %></p>
        </div>
      <% end %>
    </nav>
  </div>
</div>
<% if user_signed_in? %>
  <div class="container">
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item <%= isActive("mass_load", action_name) %>">
        <%= link_to('Carga masiva', mass_load_path, class: 'nav-link') %>
      </li>
      <li class="nav-item <%= isActive("report", action_name) %>">
        <%= link_to('Ver reportes', reportes_path, class: 'nav-link') %>
      </li>
      <li class="nav-item <%= isActive("observaciones", action_name) %>">
        <%= link_to('Observaciones', observaciones_path, class: 'nav-link') %>
      </li>
      <li class="nav-item <%= isActive("caracteristicas", action_name) %>">
        <%= link_to('Caracteristicas est.', caracteristicas_path, class: 'nav-link') %>
      </li>
    </ul>
  </div>
<% end %>

<div class="container" id="content-container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :javascript %>
</body>
</html>
